* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, 
body, 
.app, 
.con
{
  height: 100%;
}

.con {
  position: relative;
}

.background {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sent {
  position: absolute;
  top: 50%;
  text-align: center;
  color: #fff;
  font-size: 20px;
}